    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; {{ $.Params.copyright }} </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ "vendor/jquery/jquery.min.js" | relURL }}"></script>
    <script src="{{ "vendor/bootstrap/js/bootstrap.bundle.min.js" | relURL }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "vendor/jquery-easing/jquery.easing.min.js" | relURL }}"></script>

    {{- if isset $.Params "mapsapikey" -}}
    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ $.Params.mapsapikey }}&sensor=false"></script>
    {{- end -}}

    <!-- Custom scripts for this template -->
    <script src="{{ "js/grayscale.min.js" | relURL}}"></script>
